.cdw-map {
  &-title {
    font-family: $font-primary;
    font-size: 24px;
    text-align: center;
    margin: 10px 0;  
  }

  &-subtitle {
    font-family: $font-secondary;
    font-size: 12pt;
    padding: 8px;
    text-align: center
  }  

  &-img {
  	border-radius: 4px;
  	max-width: 100%;
  }
}